*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand{
  font-size: 1.9rem !important ;
}

.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active{
  border-bottom: 1px solid rgb(60, 161, 228);
}
.navbar a:hover{
  color: rgb(60, 161, 228) !important;
}

.d{
  margin-top: 150px;
}

h2{
  font-size: 1.3rem !important;
}

.btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

.btn-get-started:hover{
  background: #3498db;
  color: white;
}

.btn:hover{
  background: white !important;
  color:#3498db !important;
}

img{
  height: 180px;
  width: 90px;
}